*{
    outline: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

header{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 187, 51);
}
section{
    width: 100%;
    height: 450px;
    background-color: rgb(10, 10, 140);
}
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(71, 248, 51);
}

.main{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: blueviolet;
}
.left{
    width: 100%;
    height: 150px;
    display: flex; 
}
.underh{
    width: 100%;
    height: 110px;
    margin: 20px;
    background-color: rgb(244, 14, 14);
}

/* section */

.mains{
    width: 100%;
    display: flex;
    height: 450px;
}

/* section left side 2 */

.leftside{
    width: 100%;
    height: 450px;
    padding: 16px 15px;
    background-color: rgb(236, 64, 1);
}
.boxs{
    width: 100%;
    height: 70px;
    margin: 12px 2px;
    background-color: lawngreen;
}

/* section right side */

.rightside{
    width: 100%;
    height: 450px;
    background-color: rgb(38, 32, 75);
}
.topss{
    width: 100%;
    height: 225px;
    padding: 18px 15px;
    background-color: rgb(4, 218, 225);
}
.topboxst{
    width: 100%;
    height: 28%;
    margin: 8px 2px;
    background-color: blue;
}

.topsssd{
    width: 100%;
    height: 225px;
    background-color: rgb(2, 2, 2);
}
.oneparts{
    width: 100%;
    height: 112.5px;
    display: flex;
    background-color: chocolate;
}
.oneboxft{
    width: 33.33%;
    height: 112.5px;
    background-color: yellow;
}
.twoboxft{
    width: 33.33%;
    height: 112.5px;
    background-color: rgb(59, 59, 252);
}
.threeboxft{
    width: 33.33%;
    height: 112.5px;
    background-color: red;
}

.twoparts{
    width: 100%;
    height: 112.5px;
    padding: 10px 10px;
    background-color: rgb(237, 165, 48);
}
.onesta{
    width: 100%;
    height: 35px;
    margin: 9px 2px;
    background-color: rgb(79, 79, 213);
}

/* footer */

.mainf{
    width: 100%;
    height: 150px;
    background-color: rgb(205, 204, 183);
}

.topboxf{
    width: 100%;
    height: 75px;
    display: flex;
    background-color: fuchsia;
}
.oneboxf{
    width: 14%;
    height: 50px;
    margin: 25px 15px;
    background-color: green;
}

.bottomboxf{
    width: 100%;
    height: 75px;
    display: flex;
    background-color: fuchsia;
}
.onebt{
    width: 33.33%;
    height: 40px;
    margin: 20px 15px;
    background-color: red;
}