*{
    outline: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: aqua;
}

header{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
}
section{
    width: 100%;
    height: 450px;
    background-color: rgb(255, 255, 255);
}

footer{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
}

/* start */

.main{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: rgb(233, 9, 9);
}
.first{
    width: 33.33%;
    height: 150px;
    background-color: rgb(169, 187, 34);
}
.topleft{
    width: 100%;
    height: 75px;
    background-color: cadetblue;
}
.secound{
    width: 33.33%;
    height: 150px;
    background-color: rgb(5, 3, 120);
}
.third{
    width: 33.33%;
    height: 150px;
    background-color: rgb(8, 105, 16);
}
.topright{
    width: 100%;
    height: 75px;
    background-color: indianred;
}
/* section */

.mains{
    width: 100%;
    height: 450px;
    display: flex;
    background-color: darkred;
}
.leftside{
    width: 50%;
    height: 450px;
    background-color: rgb(108, 16, 195);
}

/* end footer */

.mainf{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: chartreuse;
}

/* extra */

/* .left{ */
    /* width: 50%; */
    /* height: 150px; */
    /* background-color: purple; */
/* } */

/* .top_left{ */
    /* width: 50%; */
    /* height: 75px; */
    /* float: left; */
    /* background-color: gray; */
/* } */

/* .top_right{ */
    /* float: right; */
    /* width: 50%; */
    /* height: 75px; */
    /* background-color: rgb(12, 17, 19); */
/* } */
/* .right{ */
    /* width: 50%; */
    /* height: 150px; */
    /* background-color: yellowgreen; */
/* } */
/*  */