@media (max-width: 360px) {
  .toggle {
    display: block;
    position: fixed;
    top: 23px;
    right: 20px;
  }

  .nav .b {
    width: 100%;
    display: none;
  }
  .b ul li {
    display: block;
    text-align: center;
    padding: 5px;
  }
  .b.active {
    display: block;
  }
  .container {
    max-width: 320px;
    width: 100%;
  }
  .c {
    width: 100%;
  }
  .c h1 {
    font-size: 38px;
    text-align: center;
  }
  .c p {
    font-size: 20px;
    text-align: center;
  }
  .c a {
    text-align: center;
    margin: 0 60px;
  }
  .d img {
    margin: 50px 0;
    width: 320px;
    height: 200px;
  }
  .box {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .internal {
    text-align: center;
    padding: 25px;
  }
  .f h1 {
    font-size: 36px;
  }
  .box .box1 {
    width: 100%;
    margin-bottom: 40px;
  }
  .box .box2 {
    width: 100%;
    margin-bottom: 40px;
  }
  .box .box3 {
    width: 100%;
    margin-bottom: 40px;
  }
  .box .box4 {
    width: 100%;
    margin-bottom: 40px;
  }
  .box .box5 {
    width: 100%;
    margin-bottom: 40px;
  }
  .g p {
    font-size: 28px;
  }
  .g a {
    font-size: 28px;
  }

  .i .one {
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 20px;
  }
  .one .h {
    margin: 0;
    text-align: center;
  }
  .h h1 {
    font-size: 26px;
  }
  .h p {
    font-size: 18px;
  }
  .j .two {
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 20px;
  }
  .two .k {
    margin: 0;
    text-align: center;
  }
  .k h1 {
    font-size: 26px;
  }
  .k p {
    font-size: 18px;
  }
  .l .three {
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 20px;
  }
  .three .m {
    margin: 0;
    text-align: center;
  }
  .m h1 {
    font-size: 26px;
  }
  .m p {
    font-size: 18px;
  }
  .logo i {
    text-align: center;
    margin: 20px 100px;
  }
  .ed5,
  .dc,
  .n,
  .o,
  img {
    display: flex;
    flex-direction: column;
  }
  .n {
    width: 100%;
  }
  .n p {
    font-size: 16px;
    text-align: center;
    line-height: 30px;
  }
  .n h1 {
    font-size: 44px;
    text-align: center;
  }
  .n h5 {
    float: left;
    margin-top: -20px;
    margin-left: 40px;
    font-size: 18px;
  }
  .o img {
    margin: 30px 0;
    width: 320px;
    height: 200px;
  }
  .ico {
    margin-top: 10px;
  }
  .ae1 h1 {
    font-size: 30px;
  }
  .ae1 p {
    font-size: 18px;
  }
  .ed7,
  .de {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .de {
    width: 100%;
  }
  .de1 {
    width: 100%;
    text-align: center;
  }
  .de1 h1 {
    font-size: 30px;
  }
  .de1 p {
    font-size: 15px;
  }
  .de2 {
    margin-left: 0;
    width: 100%;
  }
  .de4 {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: 10px;
    text-align: center;
  }
  .de3 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    width: 100%;
    text-align: center;
  }
  .de3 i {
    margin-bottom: 20px;
  }
  .de4 i {
    margin-bottom: 20px;
  }
  .te::after {
    left: 7%;
  }
  .ed8 {
  }
  .we {
    text-align: center;
  }
  .we h1 {
    font-size: 30px;
  }
  .we p {
    font-size: 18px;
  }
  .we h5 {
    font-size: 18px;
  }
  .te h1 {
    text-align: center;
  }
  .ed9 {
  }
  .re1 h1 {
    font-size: 30px;
  }
  .ed10 {
  }
  .qe1 {
    text-align: center;
  }
  .qe2::after {
    content: none;
  }
  .qe2::before {
    content: none;
  }
  .qe3::after {
    content: none;
  }
  .qe3::before {
    content: none;
  }
  .qe2 {
    width: 100%;
  }
  .qe3 {
    width: 100%;
  }
  .qe2::after {
    content: none;
  }
  .qe2::before {
    content: none;
  }
  .qe3::after {
    content: none;
  }
  .qe3::before {
    content: none;
  }
  .je1 {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .location i {
    text-align: center;
    margin: 0 100px;
    margin-bottom: 20px;
  }
  .je {
    margin: 0;
    text-align: center;
  }
  .foot {
    flex-wrap: wrap;
  }
  .foot .lorem {
    margin-bottom: 0;
    width: 100%;
  }
  .foot .menu {
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .menu .menu1 {
    margin-bottom: 20px;
  }
  .menu .menu2 {
    margin-bottom: 20px;
  }
  .foot .media i {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .foot .media {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .line1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .line2 {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .line3 {
    border-bottom: 1px solid white;
    width: 100%;
  }
  .line3 h3 {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
  }
  .line3 i {
    color: white;
    font-size: 20px;
    margin: 0;
  }
  .line3 input {
    border: none;
    background-color: transparent;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 25px;
  }
  input::placeholder {
    color: white;
    font-size: 18px;
    font-weight: 200;
  }
}
