body{
  background-color: #000000;
  font-family: 'roboto', sans-serif;
}

.signup-box{
  width: 360px;
  height: 650px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

.login-box{
  width: 360px;
  height: 370px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1{
  text-align: center;
  padding-top: 15px;
}

h4{
  text-align: center;
}

form{
  width: 300px;
  margin-left: 20px;
}

form label{
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input{
  width: 100%;
  padding: 8px;
  border: none;
  border: 1px solid grey;
  border-radius: 6px;
  outline: noun;
}

input[type="button"]{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: rgb(10, 170, 219);
  color: white;
  font-size: 18px;
}
 
p{
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.para-2{
  text-align: center;
  color: rgb(243, 243, 243);
  font-size: 15px;
  margin-top: -1px;
}

.para-2 a{
  color: #49c1a2;
}

.para-3{
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: -1px;
}

.para-3{
  color: #ebf2f0;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
h1,h4,lable{
  font-family: sans-serif;
}
  