*{
    outline: none;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

header{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
}
section{
    width: 100%;
    height: 450px;
    background-color: rgb(254, 254, 254);
}
footer{
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
}

.main{
    width: 100%;
    height: 150px;
    display: flex;
    background-color: rgb(6, 9, 117);
}
.left{
    width: 100%;
    height: 150px;
    display: flex; 
}
.underh{
    width: 50%;
    height: 110px;
    margin: 20px 1px 20px 40px;
    background-color: rgb(244, 14, 14);
}
.underph{
    width: 50%;
    height: 110px;
    margin: 20px 40px 20px 1px;
    background-color: hotpink;
}

/* section */

.mains{
    width: 100%;
    display: flex;
    height: 450px;
}

/* section leftside 1 */

.tops{
    width: 100%;
    height: 225px;
    display: flex;
    padding: 22px 30px 40px;
    background-color: rgb(55, 12, 12);
}
.llefts{
    width: 100%;
    height: 180px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(235, 239, 6);
}
.yellos{
    width: 100%;
    height: 130px;
    background-color: rgb(9, 240, 240);
}

/* section left side 2 */

.bottoms{
    width: 100%;
    height: 225px;
    background-color: rgb(7, 195, 32);
}
.onetops{
    width: 100%;
    height: 112.5px;
    background-color: darkgreen;
}
.secoundtops{
    width: 100%;
    height: 112.5px;
    background-color: coral;
}
.onesst{
    width: 50%;
    height: 112.5px;
    display: flex;
    background-color: darkred;
}
.twosst{
    width: 50%;
    height: 112.5px;
    background-color: coral;
    float: right;
}

/* section right side */

.rightside{
    width: 100%;
    height: 450px;
    background-color: rgb(38, 32, 75);
}
.topss{
    width: 100%;
    height: 225px;
    background-color: rgb(236, 64, 1);
}
.topone{
    width: 100%;
    height: 112.5px;
    background-color: rgb(108, 119, 109);
}
.oneonetop{
    width: 50%;
    height: 112.5px;
    background-color: green;
}
.toptwo{
    width: 100%;
    height: 112.5px;
    background-color: orangered;
}

/* section right */

.bottomss{
    width: 100%;
    height: 225px;
    display: flex;
    padding: 22px 30px 40px;
    background-color: rgb(52, 0, 97);
}

.bottombox{
    width: 100%;
    height: 180px;
    padding: 25px 25px 25px 25px;
    background-color: rgb(235, 239, 6);
}
.onebox{
    width: 100%;
    height: 130px;
    padding: 25px 30px;
    background-color: rgb(168, 197, 197);
}
.twobox{
    width: 100%;
    height: 85px;
    background-color: rgb(2, 83, 169);
}

/* section 2 */

.leftside{
    width: 100%;
    height: 450px;
    background-color: rgb(7, 98, 3);
}

/* section 3 */



/* section 4 */


/* footer */

.mainf{
    width: 100%;
    display: flex;
    height: 150px;
}
.leftsidef{
    width: 100%;
    display: flex;
    height: 150px;
}
.topsff{
    width: 100%;
    height: 225px;
    display: flex;
    padding: 22px 80px;
    background-color: rgb(55, 12, 12);
}
.lleftsff{
    width: 100%;
    height: 180px;
    padding: 25px 70px;
    background-color: rgb(163, 163, 138);
}
.yellosf{
    width: 100%;
    height: 130px;
    padding: 20px 70px;
    background-color: rgb(7, 84, 5);
}
.liteyellow{
    width: 100%;
    height: 90px;
    padding: 20px 100px;
    background-color: rgb(152, 177, 11);
}
.redlite{
    width: 100%;
    height: 50px;
    background-color: rgb(183, 40, 30);
}

